<h1>🔨 ELIGE UNA CATEGORIA PARA 3 o MAS PERSONAS EN -IN-🔨</h1>   <!--BORRAR DESPUES, SOLO ES IDENTIFICADOR DE LA PAGINA-->
<p>   Aqui escojemos la categoria del plan</p>

  <a href="/masPersonas/in/in-comida">
    <button type="button" class="btn btn-primary">COMIDA</button>
  </a>
    <a href="/masPersonas/in/in-peliculas">
    <button type="button" class="btn btn-secondary">PELICULAS</button>
    </a>
      <a href="/masPersonas/in/in-juegos">
      <button type="button" class="btn btn-secondary">JUEGOS</button>
      </a>

  <a href="/home/home-page">
    <button> HOME PAGE </button>    <!--BOTÓN AGREGADO SOLO PARA PODER REGRESAR A "HOME PAGE"-->
  </a>

