<h1>🔨 ELIGE UNA CATEGORIA PARA 3 PERSONAS O MÁS EN -OUT-🔨</h1>   <!--BORRAR DESPUES, SOLO ES IDENTIFICADOR DE LA PAGINA-->
<h2>   Aqui escojemos la categoria del plan</h2>

  <a href="/masPersonas/out/out-cena">
    <button type="button" class="btn btn-primary">CENA</button>
  </a>
    <a href="/masPersonas/out/out-bar">
      <button type="button" class="btn btn-secondary">BAR</button>
    </a>
      <a href="/masPersonas/out/out-cine">
        <button type="button" class="btn btn-secondary">CINE</button>
      </a>

  <a href="/home/home-page">
    <button> HOME PAGE </button>    <!--BOTÓN AGREGADO SOLO PARA PODER REGRESAR A "HOME PAGE"-->
  </a>


