<h1>🔨 HOME - TRES O MÁS PERSONAS 🔨</h1>   <!--BORRAR DESPUES, SOLO ES IDENTIFICADOR DE LA PAGINA-->

<H2>AQUI ESCOGEMOS SI EL PLAN ES --- IN / OUT ---</H2>

  <a href="/masPersonas/in-masPersonas">
    <button type="button" class="btn btn-primary">IN</button>
  </a>

  <a href="/masPersonas/out-masPersonas">
    <button type="button" class="btn btn-secondary">OUT</button>
  </a>

  <a href="/home/home-page">
    <button> HOME PAGE </button>    <!--BOTÓN AGREGADO SOLO PARA PODER REGRESAR A "HOME PAGE"-->
  </a>

