<h1>🔨 WELCOME PAGE 🔨</h1>   <!--BORRAR DESPUES, SOLO ES IDENTIFICADOR DE LA PAGINA-->
<h3>{{appTitle}} 🚀</h3>
<p>PLAN</p>

<button type="button" class="btn btn-primary">LOGIN</button>

{{!-- ---------PARA INSERTAR VIDEO E IMAGEN-------------}}
<video autoplay="" loop="" muted="" id="background">
        <source src="/videos/PLAN.mp4" type="video/mp4">
 </video>

 <img src="/images/PLAN.png"> 

